.profile-dropdown {
  position: relative;
}

.hidden {
  display: none;
}

#navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #555555;
  height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #0c0c0c31;
  position: fixed;
}

#header-logo-and-title {
  display: flex;
  align-items: center;
  margin-left: 0px;
  gap: 10px;
}

#header-logo-and-title > p {
  font-size: 25px;
  font-style: italic;
  color: white;
}

#header-logo-and-title i {
  color: white;
}


#navbar-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-dropdown{
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: white;
  border: 1px solid #555555;
  border-radius: 5px;
}

#profile-button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: none;
}

#profile-button:hover {
  cursor: pointer;
}
